# Database Configuration
DB_URL=jdbc:mysql://localhost:3306/AnyOrder?useSSL=false&serverTimezone=America/Lima&allowPublicKeyRetrieval=true
DB_USER=carlos
DB_PASS=gcdA(*YCHlX7#x4l

# External API Configuration
EXTERNAL_API_TOKEN=your_token_here
RENIEC_API_URL=https://api.apis.net.pe/v2/reniec/dni
SUNAT_API_URL=https://api.apis.net.pe/v2/sunat/ruc

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Server Configuration
PORT=8080
